<h1>Login</h1>

<%= form_tag '/login' do %>

  <p>Email:</p>
  <p><%= text_field_tag :email %></p>
  <p>Password:</p>
  <p><%= password_field_tag :password %></p>
  <br/>
  <p><%= submit_tag "Submit" %></p>

<% end %> 


