<h1 style="text-align: center">Admin Dashboard</h1>

<table class="table table-bordered">
<thead>
  <tr>
    <th style="text-align: center">Number of Categories</th>
    <th style="text-align: center">Number of Products</th>
  </tr>
</thead>
  <tr>
    <td style="text-align: center"><%= @categories %></td>
    <td style="text-align: center"><%= @products %></td>
  </tr>
  <tr>  
    <td style="text-align: center"><%= link_to "See Categories", 'admin/categories#index', class: 'btn btn-md btn-primary' %></td>
    <td style="text-align: center"><%= link_to "See Products", "admin/products#index", class: 'btn btn-md btn-primary' %></td>
  </tr> 
</table>
